extends layout

block content
  h1 Welcome to #{title}!
  p A full DevOps tool
    span(class='cross-out') chain
  a(class="btn-orange" href="https://about.gitlab.com/free-trial" target="_blank") Try GitLab for Free
