body {
  color: white;
  padding: 50px;
  font: 34px "Source Sans Pro", sans-serif;
  background: linear-gradient(270deg, #48367d 0%, #241842 100%);
  text-align: center;
}

.cross-out {
  text-decoration: line-through;
}

.btn-orange {
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgb(230, 83, 40);
}
